{
    "swagger": "2.0",
    "info": {
        "title": "REST API Documentation for Oracle Process Cloud Service",
        "version": "3.0",
        "description": "Use the Oracle Process Cloud Service REST API to manage analytic data, process instance archives, identities, process definitions, processes, tasks, and system information.",
        "x-summary": "Use the Oracle Process Cloud Service REST API to manage analytic data, process instance archives, identities, process definitions, processes, tasks, and system information."
    },
    "host": "den01dli.us.oracle.com:7001",
    "basePath": "/bpm/api/3.0",
    "schemes": [
        "http",
        "https"
    ],
    "paths": {
        "/process-definitions/{processDefId}/documents": {
            "get": {
                "description": " Retrieves the folders metadata information for a given composite DN.",
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "summary": "Retrieve the documents metadata",
                "operationId": "get /process-definitions/{processDefId}/documents",
                "responses": {
                    "200": {
                        "description": "Success. Returns the documents."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Error in retrieving the folder information"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "processDefId",
                        "in": "path",
                        "description": "Value of process definition ID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "expanded",
                        "in": "query",
                        "description": "Retrieves only the folder for the specified folder name",
                        "required": false,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Manage Process Definitions"
                ],
                "x-internal-id": "process-definitions-{processDefId}-documents-get"
            }
        },
        "/process-definitions/{processDefId}/documents/incoming-documents/{folderName}": {
            "get": {
                "description": " Retrieves the folder metadata information for a given incoming document and a composite DN.",
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "summary": "Retrieve an incoming document metadata",
                "operationId": "get /process-definitions/{processDefId}/documents/incoming-documents/{folderName}",
                "responses": {
                    "200": {
                        "description": "Success. Returns the incoming document metadata."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Error in retrieving the document information"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "folderName",
                        "in": "path",
                        "description": "Name of the folder.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "processDefId",
                        "in": "path",
                        "description": "Value of process definition ID.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Manage Process Definitions"
                ],
                "x-internal-id": "process-definitions-{processDefId}-documents-incoming-documents-{folderName}-get"
            }
        },
        "/process-definitions/{processDefId}/{serviceName}/webform": {
            "get": {
                "description": " Retrieves the form instance for the process definitions with the given ID",
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "summary": "Retrieve a Form Instance for a Webform",
                "operationId": "get /process-definitions/{processDefId}/{serviceName}/webform",
                "responses": {
                    "200": {
                        "description": "Success. Returns a multipart response. The first body part is a JSON containing the form instance URL and optional payload if saved earlier. The remaining body parts will be attachments if the process contains any saved attachments."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Form not found."
                    },
                    "500": {
                        "description": "Error in retrieving the form Instance URL"
                    }
                },
                "produces": [
                    "multipart/mixed"
                ],
                "parameters": [
                    {
                        "name": "processDefId",
                        "in": "path",
                        "description": "Value of process definition ID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "serviceName",
                        "in": "path",
                        "description": "Value of service name of the process.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "operation",
                        "in": "query",
                        "description": "Specifies the operation performed. Use the Retrieve Process Definitions endpoint to list process definition data, including operations.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "includeAttachments",
                        "in": "query",
                        "description": "If true (default), returns any saved attachments as body parts along with the form URL",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "tags": [
                    "Manage Process Definitions"
                ],
                "x-internal-id": "process-definitions-{processDefId}-{serviceName}-webform-get"
            }
        },
        "/process-definitions/{processDefId}/startFolderName": {
            "get": {
                "description": " Retrieves the temporary start folder name for a given composite DN.",
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "summary": "Retrieve the temporary startup folder name",
                "operationId": "get /process-definitions/{processDefId}/startFolderName",
                "responses": {
                    "200": {
                        "description": "Success. Returns the temporary startup folder name."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Error in retrieving the temporary startup folder name"
                    }
                },
                "produces": [
                    "text/plain"
                ],
                "parameters": [
                    {
                        "name": "processDefId",
                        "in": "path",
                        "description": "Value of process definition ID.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Manage Process Definitions"
                ],
                "x-internal-id": "process-definitions-{processDefId}-startFolderName-get"
            }
        },
        "/process-definitions/{processDefId}/documents/managed-folders/{folderName}": {
            "get": {
                "description": " Retrieves the folder metadata information for a given folder and a composite DN.",
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "summary": "Retrieve a managed folder metadata",
                "operationId": "get /process-definitions/{processDefId}/documents/managed-folders/{folderName}",
                "responses": {
                    "200": {
                        "description": "Success. Returns the folders."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Error in retrieving the folder information"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "folderName",
                        "in": "path",
                        "description": "Name of the folder.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "processDefId",
                        "in": "path",
                        "description": "Value of process definition ID.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Manage Process Definitions"
                ],
                "x-internal-id": "process-definitions-{processDefId}-documents-managed-folders-{folderName}-get"
            }
        },
        "/process-definitions/{processDefId}/conversations/{conversationName}": {
            "get": {
                "description": " Retrieves the conversation metadata fot a conversation associated with this process, if any.",
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "summary": "Retrieve the conversation metadata",
                "operationId": "get /process-definitions/{processDefId}/conversations/{conversationName}",
                "responses": {
                    "200": {
                        "description": "Success. Returns the conversations or empty list when there aren't any."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Error in retrieving the folder information"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "conversationName",
                        "in": "path",
                        "description": "conversation name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "processDefId",
                        "in": "path",
                        "description": "Value of process definition ID.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Manage Process Definitions"
                ],
                "x-internal-id": "process-definitions-{processDefId}-conversations-{conversationName}-get"
            }
        },
        "/process-definitions/{processDefId}/{serviceName}/form": {
            "get": {
                "description": " Retrieves the form instance for the process definitions with the given ID",
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "summary": "Retrieve a Form Instance",
                "operationId": "get /process-definitions/{processDefId}/{serviceName}/form",
                "responses": {
                    "200": {
                        "description": "Success. Returns a multipart response. The first body part is a plain text containing the form instance URL. The remaining body parts will be attachments if the process contains any saved attachments."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Error in retrieving the form Instance URL"
                    }
                },
                "produces": [
                    "multipart/mixed"
                ],
                "parameters": [
                    {
                        "name": "processDefId",
                        "in": "path",
                        "description": "Value of process definition ID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "serviceName",
                        "in": "path",
                        "description": "Value of service name of the process.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "operation",
                        "in": "query",
                        "description": "Specifies the operation performed. Use the Retrieve Process Definitions endpoint to list process definition data, including operations.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "includeAttachments",
                        "in": "query",
                        "description": "If true (default), returns any saved attachments as body parts along with the form URL",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "tags": [
                    "Manage Process Definitions"
                ],
                "x-internal-id": "process-definitions-{processDefId}-{serviceName}-form-get"
            }
        },
        "/process-definitions/{processDefId}/{serviceName}/form/payload": {
            "get": {
                "description": " Retrieves the form payload for the given form instance URL.",
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "summary": "Retrieve a Form Payload",
                "operationId": "get /process-definitions/{processDefId}/{serviceName}/form/payload",
                "responses": {
                    "200": {
                        "description": "Success. Returns the form payload value."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Error in retrieving the form payload"
                    }
                },
                "produces": [
                    "text/plain"
                ],
                "parameters": [
                    {
                        "name": "processDefId",
                        "in": "path",
                        "description": "Value of process definition ID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "serviceName",
                        "in": "path",
                        "description": "Value of service name of the process.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "formInstanceURL",
                        "in": "query",
                        "description": "Value of the form instance URL whose payload is to be retrieved.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "operation",
                        "in": "query",
                        "description": "Specifies the operation performed. Use the Retrieve Process Definitions endpoint to list process definition data, including operations.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Manage Process Definitions"
                ],
                "x-internal-id": "process-definitions-{processDefId}-{serviceName}-form-payload-get"
            }
        },
        "/process-definitions": {
            "get": {
                "description": " Retrieves process definitions.",
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "summary": "Retrieve Process Definitions",
                "operationId": "get /process-definitions",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/processDefs"
                        },
                        "examples": {
                            "application/json": {
                                "Items": [
                                    {},
                                    {}
                                ],
                                "@levels": 123,
                                "links": [
                                    {
                                        "Href": "http://www.raml.renerator.example.uri.com",
                                        "hreflang": "str1234",
                                        "length": 123,
                                        "rel": "str1234",
                                        "title": "str1234",
                                        "type": "str1234",
                                        "mediaType": "str1234"
                                    },
                                    {
                                        "Href": "http://www.raml.renerator.example.uri.com",
                                        "hreflang": "str1234",
                                        "length": 123,
                                        "rel": "str1234",
                                        "title": "str1234",
                                        "type": "str1234",
                                        "mediaType": "str1234"
                                    }
                                ],
                                "title": "str1234"
                            }
                        }
                    },
                    "500": {
                        "description": "Error in retrieving the process definitions"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "interfaceFilter",
                        "in": "query",
                        "description": "Retrieves those with forms, without, or both - form, noForm, doc, folder or all",
                        "required": false,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Manage Process Definitions"
                ],
                "x-internal-id": "process-definitions-get"
            }
        },
        "/process-definitions/{processDefId}/documents/incoming-folders/{folderName}": {
            "get": {
                "description": " Retrieves the folder metadata information for a given folder and a composite DN.",
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "summary": "Retrieve an incoming folder metadata",
                "operationId": "get /process-definitions/{processDefId}/documents/incoming-folders/{folderName}",
                "responses": {
                    "200": {
                        "description": "Success. Returns the folder."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Error in retrieving the folder information"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "folderName",
                        "in": "path",
                        "description": "Name of the folder.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "processDefId",
                        "in": "path",
                        "description": "Value of process definition ID.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Manage Process Definitions"
                ],
                "x-internal-id": "process-definitions-{processDefId}-documents-incoming-folders-{folderName}-get"
            }
        },
        "/process-definitions/{processDefId}/documents/incoming-documents": {
            "get": {
                "description": " Retrieves the folders metadata information for a given composite DN.",
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                     
                "summary": "Retrieve the incoming documents metadata",
                "operationId": "get /process-definitions/{processDefId}/documents/incoming-documents",
                "responses": {
                    "200": {
                        "description": "Success. Returns the folders."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Error in retrieving the folder information"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "processDefId",
                        "in": "path",
                        "description": "Value of process definition ID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Retrieves only the folder for the specified folder name",
                        "required": false,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Manage Process Definitions"
                ],
                "x-internal-id": "process-definitions-{processDefId}-documents-incoming-documents-get"
            }
        },
        "/process-definitions/{processDefId}/documents/managed-folders": {
            "get": {
                "description": " Retrieves the folders metadata information for a given composite DN.",
           "security": [
                    {
                        "basicAuth": []
                    }
                ],                
                "summary": "Retrieve the managed folders metadata",
                "operationId": "get /process-definitions/{processDefId}/documents/managed-folders",
                "responses": {
                    "200": {
                        "description": "Success. Returns the folders."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Error in retrieving the folder information"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "processDefId",
                        "in": "path",
                        "description": "Value of process definition ID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Retrieves only the folder for the specified folder name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "startupFlag",
                        "in": "query",
                        "description": "Retrieves the default startup folder if true, else (default) returns all folders",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "tags": [
                    "Manage Process Definitions"
                ],
                "x-internal-id": "process-definitions-{processDefId}-documents-managed-folders-get"
            }
        },
        "/process-definitions/{processDefId}/conversations": {
            "get": {
                "description": " Retrieves the conversations associated with this process, if any.",
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
     
                "summary": "Retrieve the conversations",
                "operationId": "get /process-definitions/{processDefId}/conversations",
                "responses": {
                    "200": {
                        "description": "Success. Returns the conversations or empty list when there aren't any."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Error in retrieving the folder information"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "processDefId",
                        "in": "path",
                        "description": "Value of process definition ID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Retrieves only the conversation for the specified conversation name",
                        "required": false,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Manage Process Definitions"
                ],
                "x-internal-id": "process-definitions-{processDefId}-conversations-get"
            }
        },
        "/process-definitions/{processDefId}/documents/incoming-folders": {
            "get": {
                "description": " Retrieves the folders metadata information for a given composite DN.",
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "summary": "Retrieve the incoming folders metadata",
                "operationId": "get /process-definitions/{processDefId}/documents/incoming-folders",
                "responses": {
                    "200": {
                        "description": "Success. Returns the folders."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Error in retrieving the folder information"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "processDefId",
                        "in": "path",
                        "description": "Value of process definition ID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Retrieves only the folder for the specified folder name",
                        "required": false,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Manage Process Definitions"
                ],
                "x-internal-id": "process-definitions-{processDefId}-documents-incoming-folders-get"
            }
        },
        "/analytics/businessquery": {
            "post": {
                "description": " Retrieve the analytics results after executing the given business query.",
                "summary": "Retrieve Analytics Result for a Business Query",
                "operationId": "post /analytics/businessquery",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/businessQuery"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "No result found for query"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "",
                        "required": false,
                        "schema": {}
                    }
                ],
                "tags": [
                    "Manage Analytics"
                ],
                "x-internal-id": "analytics-businessquery-post"
            },
            "get": {
                "description": " Retrieve the analytics results after executing a saved business query with given id.",
                "summary": "Retrieve Analytics Result for a Business Query By Query Id",
                "operationId": "get /analytics/businessquery",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/analyticsResult"
                        },
                        "examples": {
                            "application/json": {
                                "columnsInfo": [
                                    {
                                        "columnName": "str1234",
                                        "type": "str1234"
                                    },
                                    {
                                        "columnName": "str1234",
                                        "type": "str1234"
                                    }
                                ],
                                "rows": [
                                    {},
                                    {}
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "No result found for query"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "businessQueryId",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Manage Analytics"
                ],
                "x-internal-id": "analytics-businessquery-get"
            }
        },
        "/analytics/dataobjects/{dataObjectName}/data": {
            "get": {
                "description": " Retrieves the data of given DataObject",
                "summary": "Retrieve DataObject's data",
                "operationId": "get /analytics/dataobjects/{dataObjectName}/data",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/collection"
                        },
                        "examples": {
                            "application/json": {
                                "links": [
                                    {
                                        "Href": "http://www.raml.renerator.example.uri.com",
                                        "hreflang": "str1234",
                                        "length": 123,
                                        "rel": "str1234",
                                        "title": "str1234",
                                        "type": "str1234",
                                        "mediaType": "str1234"
                                    },
                                    {
                                        "Href": "http://www.raml.renerator.example.uri.com",
                                        "hreflang": "str1234",
                                        "length": 123,
                                        "rel": "str1234",
                                        "title": "str1234",
                                        "type": "str1234",
                                        "mediaType": "str1234"
                                    }
                                ],
                                "user": {
                                    "Href": "http://www.raml.renerator.example.uri.com",
                                    "hreflang": "str1234",
                                    "length": 123,
                                    "rel": "str1234",
                                    "title": "str1234",
                                    "type": "str1234",
                                    "mediaType": "str1234"
                                },
                                "HasMore": true,
                                "items": [
                                    {},
                                    {}
                                ],
                                "TotalResult": true,
                                "Offset": 123
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "No data found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "dataObjectName",
                        "in": "path",
                        "description": "Value of dataObjectName.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "since",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "totalResults",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "boolean"
                    }
                ],
                "tags": [
                    "Manage Analytics"
                ],
                "x-internal-id": "analytics-dataobjects-{dataObjectName}-data-get"
            }
        },
        "/analytics/businessquery-metadata/businessqueries/{businessQueryId}": {
            "delete": {
                "description": " Deletes a business query",
                "summary": "Delete Business Query",
                "operationId": "delete /analytics/businessquery-metadata/businessqueries/{businessQueryId}",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/hashMap"
                        },
                        "examples": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "No business query found with provided id"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "businessQueryId",
                        "in": "path",
                        "description": "Value of businessQueryId.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Manage Analytics"
                ],
                "x-internal-id": "analytics-businessquery-metadata-businessqueries-{businessQueryId}-delete"
            },
            "get": {
                "description": " Gets a business query definition.",
                "summary": "Retrieve Business Query Definition",
                "operationId": "get /analytics/businessquery-metadata/businessqueries/{businessQueryId}",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/businessQuery"
                        },
                        "examples": {
                            "application/json": {
                                "properties": [
                                    {
                                        "name": "str1234",
                                        "value": "str1234"
                                    },
                                    {
                                        "name": "str1234",
                                        "value": "str1234"
                                    }
                                ],
                                "applicationName": "str1234",
                                "id": "str1234",
                                "legend": "str1234",
                                "queryType": {},
                                "sortEntries": [
                                    {
                                        "columnName": "str1234",
                                        "descending": true
                                    },
                                    {
                                        "columnName": "str1234",
                                        "descending": true
                                    }
                                ],
                                "topN": 123,
                                "filter": {
                                    "branches": [
                                        {},
                                        {}
                                    ],
                                    "filterType": {},
                                    "filterEntries": [
                                        {
                                            "operator": {},
                                            "columnName": "str1234",
                                            "columnDataType": {},
                                            "value": "str1234"
                                        },
                                        {
                                            "operator": {},
                                            "columnName": "str1234",
                                            "columnDataType": {},
                                            "value": "str1234"
                                        }
                                    ]
                                },
                                "dataSource": {},
                                "title": "str1234",
                                "dataSeries": [
                                    {
                                        "measureColumn": "str1234",
                                        "aggregateOperation": {}
                                    },
                                    {
                                        "measureColumn": "str1234",
                                        "aggregateOperation": {}
                                    }
                                ],
                                "groups": [
                                    "str1234",
                                    "str1234"
                                ],
                                "description": "str1234",
                                "timeGroupings": {
                                    "str1234_1": {
                                        "timeGroupingUnits": [
                                            {},
                                            {}
                                        ]
                                    },
                                    "str1234_2": {
                                        "timeGroupingUnits": [
                                            {},
                                            {}
                                        ]
                                    }
                                },
                                "lastNDays": 123
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "No result found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "businessQueryId",
                        "in": "path",
                        "description": "Value of businessQueryId.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Manage Analytics"
                ],
                "x-internal-id": "analytics-businessquery-metadata-businessqueries-{businessQueryId}-get"
            },
            "put": {
                "description": " Updates a business query.",
                "summary": "Update Business Query",
                "operationId": "put /analytics/businessquery-metadata/businessqueries/{businessQueryId}",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/link"
                        },
                        "examples": {
                            "application/json": {
                                "Href": "http://www.raml.renerator.example.uri.com",
                                "hreflang": "str1234",
                                "length": 123,
                                "rel": "str1234",
                                "title": "str1234",
                                "type": "str1234",
                                "mediaType": "str1234"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "businessQueryId",
                        "in": "path",
                        "description": "Value of businessQueryId.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "",
                        "required": false,
                        "schema": {}
                    }
                ],
                "tags": [
                    "Manage Analytics"
                ],
                "x-internal-id": "analytics-businessquery-metadata-businessqueries-{businessQueryId}-put"
            }
        },
        "/analytics/businessquery-metadata/aggregateoperations": {
            "get": {
                "description": " Retrieves list of supported aggregate operations.",
                "summary": "Retrieve Supported Aggregate Operations",
                "operationId": "get /analytics/businessquery-metadata/aggregateoperations",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/arrayList"
                        },
                        "examples": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "No result found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Manage Analytics"
                ],
                "x-internal-id": "analytics-businessquery-metadata-aggregateoperations-get"
            }
        },
        "/analytics/dataobjects/{dataObjectName}": {
            "get": {
                "description": " Retrieve DataObject's metadata details",
                "summary": "Retrieve DataObject's Metadata",
                "operationId": "get /analytics/dataobjects/{dataObjectName}",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/collection"
                        },
                        "examples": {
                            "application/json": {
                                "links": [
                                    {
                                        "Href": "http://www.raml.renerator.example.uri.com",
                                        "hreflang": "str1234",
                                        "length": 123,
                                        "rel": "str1234",
                                        "title": "str1234",
                                        "type": "str1234",
                                        "mediaType": "str1234"
                                    },
                                    {
                                        "Href": "http://www.raml.renerator.example.uri.com",
                                        "hreflang": "str1234",
                                        "length": 123,
                                        "rel": "str1234",
                                        "title": "str1234",
                                        "type": "str1234",
                                        "mediaType": "str1234"
                                    }
                                ],
                                "user": {
                                    "Href": "http://www.raml.renerator.example.uri.com",
                                    "hreflang": "str1234",
                                    "length": 123,
                                    "rel": "str1234",
                                    "title": "str1234",
                                    "type": "str1234",
                                    "mediaType": "str1234"
                                },
                                "HasMore": true,
                                "items": [
                                    {},
                                    {}
                                ],
                                "TotalResult": true,
                                "Offset": 123
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "No metadata found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "dataObjectName",
                        "in": "path",
                        "description": "Value of dataObjectName.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Manage Analytics"
                ],
                "x-internal-id": "analytics-dataobjects-{dataObjectName}-get"
            }
        },
        "/analytics/businessquery-metadata/datasources": {
            "get": {
                "description": " Retrieves list of available analytics data sources.",
                "summary": "Retrieve Data Sources",
                "operationId": "get /analytics/businessquery-metadata/datasources",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/arrayList"
                        },
                        "examples": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "No result found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Manage Analytics"
                ],
                "x-internal-id": "analytics-businessquery-metadata-datasources-get"
            }
        },
        "/analytics/businessquery-metadata/comparisonoperators": {
            "get": {
                "description": " Retrieves list of supported comparison operators for a given column data type",
                "summary": "Retrieve Supported Comparison Operators",
                "operationId": "get /analytics/businessquery-metadata/comparisonoperators",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/arrayList"
                        },
                        "examples": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "No result found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "columnDataType",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Manage Analytics"
                ],
                "x-internal-id": "analytics-businessquery-metadata-comparisonoperators-get"
            }
        },
        "/analytics/ootbqueries/{queryname}": {
            "get": {
                "description": " Retrieves the analytics results after executing the given OOTB query.",
                "summary": "Retrieve Analytics Result of an OOTB Query",
                "operationId": "get /analytics/ootbqueries/{queryname}",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/analyticsResult"
                        },
                        "examples": {
                            "application/json": {
                                "columnsInfo": [
                                    {
                                        "columnName": "str1234",
                                        "type": "str1234"
                                    },
                                    {
                                        "columnName": "str1234",
                                        "type": "str1234"
                                    }
                                ],
                                "rows": [
                                    {},
                                    {}
                                ]
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "No result found for query"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "queryname",
                        "in": "path",
                        "description": "Query Name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "processNames",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "assigneeType",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "topN",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "since",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "applicationName",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Manage Analytics"
                ],
                "x-internal-id": "analytics-ootbqueries-{queryname}-get"
            }
        },
        "/analytics/businessquery-metadata/businessqueries": {
            "post": {
                "description": " Creates a business query",
                "summary": "Create Business Query",
                "operationId": "post /analytics/businessquery-metadata/businessqueries",
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/link"
                        },
                        "examples": {
                            "application/json": {
                                "Href": "http://www.raml.renerator.example.uri.com",
                                "hreflang": "str1234",
                                "length": 123,
                                "rel": "str1234",
                                "title": "str1234",
                                "type": "str1234",
                                "mediaType": "str1234"
                            }
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "",
                        "required": false,
                        "schema": {}
                    }
                ],
                "tags": [
                    "Manage Analytics"
                ],
                "x-internal-id": "analytics-businessquery-metadata-businessqueries-post"
            },
            "get": {
                "description": " Returns available business queries",
                "summary": "Retrieve Business Queries",
                "operationId": "get /analytics/businessquery-metadata/businessqueries",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/arrayList"
                        },
                        "examples": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Manage Analytics"
                ],
                "x-internal-id": "analytics-businessquery-metadata-businessqueries-get"
            }
        },
        "/analytics/ootbqueries-definitions": {
            "get": {
                "description": " Retrieves a list of all supported OOTB queries. Response is of the Map format.",
                "summary": "Retrieve OOTB Query Definitions",
                "operationId": "get /analytics/ootbqueries-definitions",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/hashMap"
                        },
                        "examples": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Manage Analytics"
                ],
                "x-internal-id": "analytics-ootbqueries-definitions-get"
            }
        },
        "/analytics/businessquery-metadata/datasources/{dataSource}/columns": {
            "get": {
                "description": " Retrieves list of available columns for a given datasource and application name;Determines the available columns by inspecting the corresponding analytics datasource.",
                "summary": "Retrieve Available Columns for Data Source",
                "operationId": "get /analytics/businessquery-metadata/datasources/{dataSource}/columns",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/arrayList"
                        },
                        "examples": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "No result found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "dataSource",
                        "in": "path",
                        "description": "DataSource value",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "applicationName",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Manage Analytics"
                ],
                "x-internal-id": "analytics-businessquery-metadata-datasources-{dataSource}-columns-get"
            }
        },
        "/analytics/ootbqueries-definitions/{queryname}": {
            "get": {
                "description": " Retrieves the definition of given OOTB query.",
                "summary": "Retrieve an OOTB query definition",
                "operationId": "get /analytics/ootbqueries-definitions/{queryname}",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/oOTBDashboardQueryDefinition"
                        },
                        "examples": {
                            "application/json": {
                                "queryString": "str1234",
                                "measureColumns": [
                                    "str1234",
                                    "str1234"
                                ],
                                "queryName": {},
                                "supportedFilters": [
                                    {},
                                    {}
                                ],
                                "dimensionColumns": [
                                    "str1234",
                                    "str1234"
                                ]
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "No result found for query"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "queryname",
                        "in": "path",
                        "description": "Query Name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Manage Analytics"
                ],
                "x-internal-id": "analytics-ootbqueries-definitions-{queryname}-get"
            }
        },
        "/analytics/dataobjects": {
            "get": {
                "description": " Retrieves application specific DataObjects when application name is provided",
                "summary": "Retrieve list of Available DataObject Names",
                "operationId": "get /analytics/dataobjects",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/collection"
                        },
                        "examples": {
                            "application/json": {
                                "links": [
                                    {
                                        "Href": "http://www.raml.renerator.example.uri.com",
                                        "hreflang": "str1234",
                                        "length": 123,
                                        "rel": "str1234",
                                        "title": "str1234",
                                        "type": "str1234",
                                        "mediaType": "str1234"
                                    },
                                    {
                                        "Href": "http://www.raml.renerator.example.uri.com",
                                        "hreflang": "str1234",
                                        "length": 123,
                                        "rel": "str1234",
                                        "title": "str1234",
                                        "type": "str1234",
                                        "mediaType": "str1234"
                                    }
                                ],
                                "user": {
                                    "Href": "http://www.raml.renerator.example.uri.com",
                                    "hreflang": "str1234",
                                    "length": 123,
                                    "rel": "str1234",
                                    "title": "str1234",
                                    "type": "str1234",
                                    "mediaType": "str1234"
                                },
                                "HasMore": true,
                                "items": [
                                    {},
                                    {}
                                ],
                                "TotalResult": true,
                                "Offset": 123
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "No data objects found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "applicationName",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Manage Analytics"
                ],
                "x-internal-id": "analytics-dataobjects-get"
            }
        },
        "/identities": {
            "get": {
                "description": " Retrieves users and groups, also retrieves roles for a given applicationId using the query paramter (The only value of applicationId currently supported is OracleBPMProcessRolesApp).",
                "summary": "Retrieve Identities",
                "operationId": "get /identities",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/identities"
                        },
                        "examples": {
                            "application/json": {
                                "hasMore": true,
                                "offset": 123,
                                "totalResult": true,
                                "user": {
                                    "Href": "http://www.raml.renerator.example.uri.com",
                                    "hreflang": "str1234",
                                    "length": 123,
                                    "rel": "str1234",
                                    "title": "str1234",
                                    "type": "str1234",
                                    "mediaType": "str1234"
                                },
                                "count": 123,
                                "limit": 123,
                                "items": [
                                    {},
                                    {}
                                ],
                                "links": [
                                    {
                                        "Href": "http://www.raml.renerator.example.uri.com",
                                        "hreflang": "str1234",
                                        "length": 123,
                                        "rel": "str1234",
                                        "title": "str1234",
                                        "type": "str1234",
                                        "mediaType": "str1234"
                                    },
                                    {
                                        "Href": "http://www.raml.renerator.example.uri.com",
                                        "hreflang": "str1234",
                                        "length": 123,
                                        "rel": "str1234",
                                        "title": "str1234",
                                        "type": "str1234",
                                        "mediaType": "str1234"
                                    }
                                ],
                                "identities": [
                                    {
                                        "@levels": 123,
                                        "Email": "str1234",
                                        "Type": "str1234",
                                        "WorkPhone": "str1234",
                                        "links": [
                                            {
                                                "Href": "http://www.raml.renerator.example.uri.com",
                                                "hreflang": "str1234",
                                                "length": 123,
                                                "rel": "str1234",
                                                "title": "str1234",
                                                "type": "str1234",
                                                "mediaType": "str1234"
                                            },
                                            {
                                                "Href": "http://www.raml.renerator.example.uri.com",
                                                "hreflang": "str1234",
                                                "length": 123,
                                                "rel": "str1234",
                                                "title": "str1234",
                                                "type": "str1234",
                                                "mediaType": "str1234"
                                            }
                                        ],
                                        "MiddleName": "str1234",
                                        "title": "str1234",
                                        "Mobile": "str1234",
                                        "Identity": {
                                            "Href": "http://www.raml.renerator.example.uri.com",
                                            "hreflang": "str1234",
                                            "length": 123,
                                            "rel": "str1234",
                                            "title": "str1234",
                                            "type": "str1234",
                                            "mediaType": "str1234"
                                        },
                                        "LastName": "str1234",
                                        "Id": "str1234",
                                        "FirstName": "str1234"
                                    },
                                    {
                                        "@levels": 123,
                                        "Email": "str1234",
                                        "Type": "str1234",
                                        "WorkPhone": "str1234",
                                        "links": [
                                            {
                                                "Href": "http://www.raml.renerator.example.uri.com",
                                                "hreflang": "str1234",
                                                "length": 123,
                                                "rel": "str1234",
                                                "title": "str1234",
                                                "type": "str1234",
                                                "mediaType": "str1234"
                                            },
                                            {
                                                "Href": "http://www.raml.renerator.example.uri.com",
                                                "hreflang": "str1234",
                                                "length": 123,
                                                "rel": "str1234",
                                                "title": "str1234",
                                                "type": "str1234",
                                                "mediaType": "str1234"
                                            }
                                        ],
                                        "MiddleName": "str1234",
                                        "title": "str1234",
                                        "Mobile": "str1234",
                                        "Identity": {
                                            "Href": "http://www.raml.renerator.example.uri.com",
                                            "hreflang": "str1234",
                                            "length": 123,
                                            "rel": "str1234",
                                            "title": "str1234",
                                            "type": "str1234",
                                            "mediaType": "str1234"
                                        },
                                        "LastName": "str1234",
                                        "Id": "str1234",
                                        "FirstName": "str1234"
                                    }
                                ]
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Identities not found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "searchPattern",
                        "in": "query",
                        "description": "Pattern to search for, for example identities?searchPattern=admin",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "scope",
                        "in": "query",
                        "description": "Search scope - all (default), user, group, role",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "firstname",
                        "in": "query",
                        "description": "First name of the identity to search",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "lastname",
                        "in": "query",
                        "description": "Last name of the identity to search",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Email of the identity to search",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "applicationId",
                        "in": "query",
                        "description": "Application in which to search",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Maximum number of identities to be retrieved - default 25",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The offset value - default 0",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "tags": [
                    "Manage Identities"
                ],
                "x-internal-id": "identities-get"
            }
        },
        "/identities/group/{groupid}": {
            "get": {
                "description": " Retrieves a group by group ID.",
                "summary": "Retrieve a Group",
                "operationId": "get /identities/group/{groupid}",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/group"
                        },
                        "examples": {
                            "application/json": {
                                "@levels": 123,
                                "Email": "str1234",
                                "Type": "str1234",
                                "Managers": {
                                    "hasMore": true,
                                    "offset": 123,
                                    "totalResult": true,
                                    "user": {
                                        "Href": "http://www.raml.renerator.example.uri.com",
                                        "hreflang": "str1234",
                                        "length": 123,
                                        "rel": "str1234",
                                        "title": "str1234",
                                        "type": "str1234",
                                        "mediaType": "str1234"
                                    },
                                    "count": 123,
                                    "limit": 123,
                                    "items": [
                                        {},
                                        {}
                                    ],
                                    "links": [
                                        {
                                            "Href": "http://www.raml.renerator.example.uri.com",
                                            "hreflang": "str1234",
                                            "length": 123,
                                            "rel": "str1234",
                                            "title": "str1234",
                                            "type": "str1234",
                                            "mediaType": "str1234"
                                        },
                                        {
                                            "Href": "http://www.raml.renerator.example.uri.com",
                                            "hreflang": "str1234",
                                            "length": 123,
                                            "rel": "str1234",
                                            "title": "str1234",
                                            "type": "str1234",
                                            "mediaType": "str1234"
                                        }
                                    ],
                                    "identities": [
                                        {
                                            "@levels": 123,
                                            "Email": "str1234",
                                            "Type": "str1234",
                                            "WorkPhone": "str1234",
                                            "links": [
                                                {
                                                    "Href": "http://www.raml.renerator.example.uri.com",
                                                    "hreflang": "str1234",
                                                    "length": 123,
                                                    "rel": "str1234",
                                                    "title": "str1234",
                                                    "type": "str1234",
                                                    "mediaType": "str1234"
                                                },
                                                {
                                                    "Href": "http://www.raml.renerator.example.uri.com",
                                                    "hreflang": "str1234",
                                                    "length": 123,
                                                    "rel": "str1234",
                                                    "title": "str1234",
                                                    "type": "str1234",
                                                    "mediaType": "str1234"
                                                }
                                            ],
                                            "MiddleName": "str1234",
                                            "title": "str1234",
                                            "Mobile": "str1234",
                                            "Identity": {
                                                "Href": "http://www.raml.renerator.example.uri.com",
                                                "hreflang": "str1234",
                                                "length": 123,
                                                "rel": "str1234",
                                                "title": "str1234",
                                                "type": "str1234",
                                                "mediaType": "str1234"
                                            },
                                            "LastName": "str1234",
                                            "Id": "str1234",
                                            "FirstName": "str1234"
                                        },
                                        {
                                            "@levels": 123,
                                            "Email": "str1234",
                                            "Type": "str1234",
                                            "WorkPhone": "str1234",
                                            "links": [
                                                {
                                                    "Href": "http://www.raml.renerator.example.uri.com",
                                                    "hreflang": "str1234",
                                                    "length": 123,
                                                    "rel": "str1234",
                                                    "title": "str1234",
                                                    "type": "str1234",
                                                    "mediaType": "str1234"
                                                },
                                                {
                                                    "Href": "http://www.raml.renerator.example.uri.com",
                                                    "hreflang": "str1234",
                                                    "length": 123,
                                                    "rel": "str1234",
                                                    "title": "str1234",
                                                    "type": "str1234",
                                                    "mediaType": "str1234"
                                                }
                                            ],
                                            "MiddleName": "str1234",
                                            "title": "str1234",
                                            "Mobile": "str1234",
                                            "Identity": {
                                                "Href": "http://www.raml.renerator.example.uri.com",
                                                "hreflang": "str1234",
                                                "length": 123,
                                                "rel": "str1234",
                                                "title": "str1234",
                                                "type": "str1234",
                                                "mediaType": "str1234"
                                            },
                                            "LastName": "str1234",
                                            "Id": "str1234",
                                            "FirstName": "str1234"
                                        }
                                    ]
                                },
                                "Grantees": {
                                    "hasMore": true,
                                    "offset": 123,
                                    "totalResult": true,
                                    "user": {
                                        "Href": "http://www.raml.renerator.example.uri.com",
                                        "hreflang": "str1234",
                                        "length": 123,
                                        "rel": "str1234",
                                        "title": "str1234",
                                        "type": "str1234",
                                        "mediaType": "str1234"
                                    },
                                    "count": 123,
                                    "limit": 123,
                                    "items": [
                                        {},
                                        {}
                                    ],
                                    "links": [
                                        {
                                            "Href": "http://www.raml.renerator.example.uri.com",
                                            "hreflang": "str1234",
                                            "length": 123,
                                            "rel": "str1234",
                                            "title": "str1234",
                                            "type": "str1234",
                                            "mediaType": "str1234"
                                        },
                                        {
                                            "Href": "http://www.raml.renerator.example.uri.com",
                                            "hreflang": "str1234",
                                            "length": 123,
                                            "rel": "str1234",
                                            "title": "str1234",
                                            "type": "str1234",
                                            "mediaType": "str1234"
                                        }
                                    ],
                                    "identities": [
                                        {
                                            "@levels": 123,
                                            "Email": "str1234",
                                            "Type": "str1234",
                                            "WorkPhone": "str1234",
                                            "links": [
                                                {
                                                    "Href": "http://www.raml.renerator.example.uri.com",
                                                    "hreflang": "str1234",
                                                    "length": 123,
                                                    "rel": "str1234",
                                                    "title": "str1234",
                                                    "type": "str1234",
                                                    "mediaType": "str1234"
                                                },
                                                {
                                                    "Href": "http://www.raml.renerator.example.uri.com",
                                                    "hreflang": "str1234",
                                                    "length": 123,
                                                    "rel": "str1234",
                                                    "title": "str1234",
                                                    "type": "str1234",
                                                    "mediaType": "str1234"
                                                }
                                            ],
                                            "MiddleName": "str1234",
                                            "title": "str1234",
                                            "Mobile": "str1234",
                                            "Identity": {
                                                "Href": "http://www.raml.renerator.example.uri.com",
                                                "hreflang": "str1234",
                                                "length": 123,
                                                "rel": "str1234",
                                                "title": "str1234",
                                                "type": "str1234",
                                                "mediaType": "str1234"
                                            },
                                            "LastName": "str1234",
                                            "Id": "str1234",
                                            "FirstName": "str1234"
                                        },
                                        {
                                            "@levels": 123,
                                            "Email": "str1234",
                                            "Type": "str1234",
                                            "WorkPhone": "str1234",
                                            "links": [
                                                {
                                                    "Href": "http://www.raml.renerator.example.uri.com",
                                                    "hreflang": "str1234",
                                                    "length": 123,
                                                    "rel": "str1234",
                                                    "title": "str1234",
                                                    "type": "str1234",
                                                    "mediaType": "str1234"
                                                },
                                                {
                                                    "Href": "http://www.raml.renerator.example.uri.com",
                                                    "hreflang": "str1234",
                                                    "length": 123,
                                                    "rel": "str1234",
                                                    "title": "str1234",
                                                    "type": "str1234",
                                                    "mediaType": "str1234"
                                                }
                                            ],
                                            "MiddleName": "str1234",
                                            "title": "str1234",
                                            "Mobile": "str1234",
                                            "Identity": {
                                                "Href": "http://www.raml.renerator.example.uri.com",
                                                "hreflang": "str1234",
                                                "length": 123,
[...]
